<div class="offcanvas offcanvas-start canvas-sidebar" id="mbAccount">
  <div class="canvas-wrapper">
    <div class="canvas-header">
      <span class="title">{{ 'sections.account.sidebar_title' | t }}</span>
      <button
        class="icon-close icon-close-popup"
        data-bs-dismiss="offcanvas"
        aria-label="{{ 'sections.account.close' | t }}"
      ></button>
    </div>
    <div class="canvas-body">
      <div class="sidebar-account-wrap sidebar-mobile-append"></div>
    </div>
  </div>
</div>
