<div class="offcanvas offcanvas-end canvas-filter canvas-sidebar canvas-sidebar-account" id="mbAccount">
    <div class="canvas-wrapper">
        <div class="canvas-header">
            <span class="title">{{ 'sections.blog-sidebar.title' | t }}</span>
            <button class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="canvas-body sidebar-mobile-append sidebar-blog"> </div>
    </div>
</div>