{% comment %}
  Collection Filters Snippet
  Usage: {% render 'collection-filters', collection: collection %}
{% endcomment %}

{% comment %} Get the full collection to access all products {% endcomment %}
{% assign full_collection = collections[collection.handle] %}

{% comment %} Set default values for settings if not provided {% endcomment %}
{% assign show_on_sale = show_on_sale | default: true %}
{% assign on_sale_limit = on_sale_limit | default: 3 %}
{% assign show_collection_banner = show_collection_banner | default: true %}
{% assign collection_banner_title = collection_banner_title | default: "Elevate Your Style" %}
{% assign collection_banner_button_text = collection_banner_button_text | default: "Shop Now" %}
{% assign collection_banner_button_url = collection_banner_button_url | default: "" %}
{% assign collection_banner_image = collection_banner_image | default: "" %}
{% assign show_availability_filter = show_availability_filter | default: true %}
{% assign show_price_filter = show_price_filter | default: true %}
{% assign show_color_filter = show_color_filter | default: true %}
{% assign show_brand_filter = show_brand_filter | default: true %}

<div class="offcanvas offcanvas-start canvas-sidebar canvas-filter" id="filterShop">
    <div class="canvas-wrapper">
        <div class="canvas-header">
            <span class="title">Filter</span>
            <button class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="canvas-body">
            
            {% render 'filter-widgets', 
                full_collection: full_collection,
                collections: collections,
                show_availability_filter: show_availability_filter,
                show_price_filter: show_price_filter,
                show_color_filter: show_color_filter,
                show_brand_filter: show_brand_filter,
                show_on_sale: show_on_sale,
                on_sale_limit: on_sale_limit,
                show_collection_banner: show_collection_banner,
                collection_banner_title: collection_banner_title,
                collection_banner_button_text: collection_banner_button_text,
                collection_banner_button_url: collection_banner_button_url,
                collection_banner_image: collection_banner_image %}
        </div>
    </div>
</div>
