{% comment %}
  Collection Sidebar Filters Snippet
  Renders a left sidebar with collection filters
{% endcomment %}

{% comment %} Get the full collection to access all products {% endcomment %}
{% assign full_collection = collections[collection.handle] %}

{% comment %} Set default values for settings if not provided {% endcomment %}
{% if color_scheme == nil %}{% assign color_scheme = 'scheme-1' %}{% endif %}
{% if show_on_sale == nil %}{% assign show_on_sale = true %}{% endif %}
{% if on_sale_limit == nil %}{% assign on_sale_limit = 3 %}{% endif %}
{% if show_collection_banner == nil %}{% assign show_collection_banner = true %}{% endif %}
{% if collection_banner_title == nil %}{% assign collection_banner_title = "Elevate Your Style" %}{% endif %}
{% if collection_banner_button_text == nil %}{% assign collection_banner_button_text = "Shop Now" %}{% endif %}
{% if collection_banner_button_url == nil %}{% assign collection_banner_button_url = "" %}{% endif %}
{% if collection_banner_image == nil %}{% assign collection_banner_image = "" %}{% endif %}
{% if show_availability_filter == nil %}{% assign show_availability_filter = true %}{% endif %}
{% if show_price_filter == nil %}{% assign show_price_filter = true %}{% endif %}
{% if show_color_filter == nil %}{% assign show_color_filter = true %}{% endif %}
{% if show_brand_filter == nil %}{% assign show_brand_filter = true %}{% endif %}

<div class="canvas-sidebar sidebar-filter canvas-filter left color-{{ color_scheme }}">
    <div class="canvas-wrapper">
        <div class="canvas-header d-flex d-xl-none">
            <span class="title">{{ 'sections.main_collection.filter' | t }}</span>
            <span class="icon-close icon-close-popup close-filter"></span>
        </div>
        <div class="canvas-body">
            
            {% render 'filter-widgets', 
                full_collection: full_collection,
                collections: collections,
                color_scheme: color_scheme,
                show_availability_filter: show_availability_filter,
                show_price_filter: show_price_filter,
                show_color_filter: show_color_filter,
                show_brand_filter: show_brand_filter,
                show_on_sale: show_on_sale,
                on_sale_limit: on_sale_limit,
                show_collection_banner: show_collection_banner,
                collection_banner_title: collection_banner_title,
                collection_banner_button_text: collection_banner_button_text,
                collection_banner_button_url: collection_banner_button_url,
                collection_banner_image: collection_banner_image %}

        </div>
    </div>
</div>
{% style %}
.canvas-sidebar.color-{{ color_scheme }} .canvas-body {
    background-color: rgb(var(--color-background)) !important;
}
{% endstyle %}

{% comment %} Add JavaScript for sidebar functionality on mobile {% endcomment %}