<div class="header-bottom d-none d-xl-block">
  <div class="container">
    <nav class="box-navigation text-center">
      {% render 'header-navigation', menu: section.settings.main_menu, section: section %}
    </nav>
  </div>
</div>
