{% comment %}
    Accepts:
    - product: The product object
{% endcomment %}
<li>
    <a data-bs-toggle="offcanvas"
        class="hover-tooltip box-icon product-cart-button"
        data-product-id="{{ product.id }}"
        data-product-handle="{{ product.handle }}"
        data-variant-id="{{ product.selected_or_first_available_variant.id }}">
        <span class="icon icon-cart2"></span>
        <span class="tooltip">Add to Cart</span>
    </a>
</li>
