{% comment %}
    Accepts:
    - product: The product object
{% endcomment %}
<li class="compare">
    <a href="#compare" class="hover-tooltip box-icon"
        data-product-id="{{ product.id }}"
        data-product-handle="{{ product.handle }}">
        <span class="icon icon-compare"></span>
        <span class="tooltip">Add to Compare</span>
    </a>
</li>