{% comment %}
    Accepts:
    - product: The product object
{% endcomment %}
{% assign card_style = card_style | default: settings.card_style | default: 'style-2' %}
<li class="wishlist">
    <a href="#" class="hover-tooltip box-icon{% if card_style == 'style-1' or card_style == 'style-small' %} tooltip-left{% endif %}"
        data-product-id="{{ product.id }}"
        data-product-handle="{{ product.handle }}">
        <span class="icon icon-heart2"></span>
        <span class="tooltip">{{ 'snippets.product-card.add_to_wishlist' | t }}</span>
    </a>
</li>