{% comment %}
    Accepts:
    - product: The product object
{% endcomment %}
<li class="wishlist">
    <a href="{{ product.url }}" class="hover-tooltip box-icon"
        data-product-id="{{ product.id }}"
        data-product-handle="{{ product.handle }}">
        <span class="icon icon-heart2"></span>
        <span class="tooltip">Add to Wishlist</span>
    </a>
</li>