{% comment %}
    Accepts:
    - product: The product object
{% endcomment %}
{% assign card_style = card_style | default: settings.card_style | default: 'style-2' %}
<li>
    <a data-bs-toggle="offcanvas"
        class="hover-tooltip box-icon product-cart-button{% if card_style == 'style-1' or card_style == 'style-small' %} tooltip-left{% endif %}"
        data-product-id="{{ product.id }}"
        data-product-handle="{{ product.handle }}"
        data-variant-id="{{ product.selected_or_first_available_variant.id }}">
        <span class="icon icon-cart2"></span>
        <span class="tooltip">{{ 'snippets.product-card.add_to_cart' | t }}</span>
    </a>
</li>
