{%- liquid
  assign section_id = 'back-to-top-' | append: section.id
  assign hidden_mobile = section.settings.hidden_mobile
  assign enable_progress = section.settings.enable_progress
-%}

{%- if enable_progress -%}
  <style>
    #goTop .border-progress {
      border-color: rgb(var(--color-button));
    }
    #goTop .icon {
      color: rgb(var(--color-foreground));
    }
    {%- if hidden_mobile -%}
    @media (max-width: 768px) {
      #goTop {
        display: none !important;
      }
    }
    {%- endif -%}
  </style>
{%- endif -%}

<div class="color-{{ section.settings.color_scheme }}">
  <button id="goTop" class="go-top{% if hidden_mobile %} hidden-mobile{% endif %}">
    {%- if enable_progress -%}
      <span class="border-progress"></span>
    {%- endif -%}
    <span class="icon icon-arrow-right"></span>
  </button>
</div>

{% schema %}
{
  "name": "t:sections.back-to-top.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "hidden_mobile",
      "label": "t:sections.back-to-top.settings.hidden_mobile.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_progress",
      "label": "t:sections.back-to-top.settings.enable_progress.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "t:sections.back-to-top.name"
    }
  ]
}
{% endschema %}