{%- liquid
  assign section_id = 'back-to-top-' | append: section.id
  assign hidden_mobile = section.settings.hidden_mobile
  assign enable_progress = section.settings.enable_progress
  assign icon_color = section.settings.icon_color
  assign progress_active_color = section.settings.progress_active_color
-%}

{%- if enable_progress -%}
  <style>
    #goTop .border-progress {
      border-color: {{ progress_active_color }};
    }
    #goTop .icon {
      color: {{ icon_color }};
    }
    {%- if hidden_mobile -%}
    @media (max-width: 768px) {
      #goTop {
        display: none !important;
      }
    }
    {%- endif -%}
  </style>
{%- endif -%}

<button id="goTop" class="go-top{% if hidden_mobile %} hidden-mobile{% endif %}">
  {%- if enable_progress -%}
    <span class="border-progress"></span>
  {%- endif -%}
  <span class="icon icon-arrow-right"></span>
</button>

{% schema %}
{
  "name": "t:sections.back-to-top.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "hidden_mobile",
      "label": "t:sections.back-to-top.settings.hidden_mobile.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_progress",
      "label": "t:sections.back-to-top.settings.enable_progress.label",
      "default": true
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "t:sections.back-to-top.settings.icon_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "progress_active_color",
      "label": "t:sections.back-to-top.settings.progress_active_color.label",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "t:sections.back-to-top.name"
    }
  ]
}
{% endschema %}