<div class="modal fullRight fade modal-before-you-leave auto-popup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="image">
                <img class="lazyload" data-src="images/section/before-you-leave.jpg"
                    src="images/section/before-you-leave.jpg" alt="">
            </div>
            <div class="modal-inner">
                <span class="icon-close icon-close-popup btn-hide-popup" data-bs-dismiss="modal"></span>
                <div class="content text-center">
                    <div class="display-sm fw-medium heading">Before You Leave</div>
                    <p>Take <span>15% OFF</span> on first order</p>
                    <div class="wrap-code justify-content-center">
                        <div class="text">Enter the code:</div>
                        <div class="coppyText" id="coppyText">CODE15OFF</div>
                        <div class="btn-coppy-text" id="btn-coppy-text"><i class="icon-copy"></i></div>
                    </div>
                    <a href="index.html" class="tf-btn animate-btn w-100">Continue Shopping</a>
                </div>

                <div class="tf-mini-cart-main">
                    <div class="tf-mini-cart-sroll">
                        <div class="tf-minicart-recommendations">
                            <div class="tf-minicart-recommendations-heading">
                                <div class="tf-minicart-recommendations-title text-xl-2 fw-medium">You may also like
                                </div>
                            </div>
                            <div class="tf-mini-cart-items">
                                <div class="tf-mini-cart-item p-0 radius-16">
                                    <div class="tf-mini-cart-image">
                                        <a href="product-detail.html">
                                            <img class="lazyload" data-src="images/products/fashion/product-1.jpg"
                                                src="images/products/fashion/product-1.jpg" alt="img-product">
                                        </a>
                                    </div>
                                    <div class="tf-mini-cart-info justify-content-center">
                                        <a class="title link text-md fw-medium" href="product-detail.html">Mouse
                                            gray t-shirt in slub cotton</a>
                                        <p class="price-wrap text-sm fw-medium">
                                            <span class="new-price text-primary">$130.00</span>
                                            <span
                                                class="old-price text-decoration-line-through text-dark-1">$150.00</span>
                                        </p>
                                        <a href="#shoppingCart" data-bs-toggle="offcanvas"
                                            class="tf-btn animate-btn bg-dark-2 w-max-content">Add
                                            to cart</a>
                                    </div>
                                </div>
                                <div class="tf-mini-cart-item p-0 radius-16">
                                    <div class="tf-mini-cart-image">
                                        <a href="product-detail.html">
                                            <img class="lazyload" data-src="images/products/fashion/product-2.jpg"
                                                src="images/products/fashion/product-2.jpg" alt="img-product">
                                        </a>
                                    </div>
                                    <div class="tf-mini-cart-info justify-content-center">
                                        <a class="title link text-md fw-medium" href="product-detail.html">Military
                                            green t-shirt</a>
                                        <p class="price-wrap text-sm fw-medium">
                                            <span class="new-price text-primary">$130.00</span>
                                            <span
                                                class="old-price text-decoration-line-through text-dark-1">$150.00</span>
                                        </p>
                                        <a href="#shoppingCart" data-bs-toggle="offcanvas"
                                            class="tf-btn animate-btn bg-dark-2 w-max-content">Add
                                            to cart</a>
                                    </div>
                                </div>
                                <div class="tf-mini-cart-item p-0 radius-16">
                                    <div class="tf-mini-cart-image">
                                        <a href="product-detail.html">
                                            <img class="lazyload" data-src="images/products/fashion/product-3.jpg"
                                                src="images/products/fashion/product-3.jpg" alt="img-product">
                                        </a>
                                    </div>
                                    <div class="tf-mini-cart-info justify-content-center">
                                        <a class="title link text-md fw-medium" href="product-detail.html">T-shirt
                                            in linen blend</a>
                                        <p class="price-wrap text-sm fw-medium">
                                            <span class="new-price text-primary">$130.00</span>
                                            <span
                                                class="old-price text-decoration-line-through text-dark-1">$150.00</span>
                                        </p>
                                        <a href="#shoppingCart" data-bs-toggle="offcanvas"
                                            class="tf-btn animate-btn bg-dark-2 w-max-content">Add
                                            to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>