<div class="modal fade modalCentered modal-quick-view" id="quickView">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
            <div class="tf-product-media-wrap">
                <!-- Dynamic media content will be populated here -->
            </div>
            <div class="tf-product-info-wrap">
                <!-- Dynamic product info will be populated here -->
            </div>
        </div>
    </div>
</div>